

.OP{
    height: 500px;
    margin-left:400px; 
}

.OC{
    height: 250px;
}

.place{
    height: 300px;
    margin: 50px;
    padding: 30px
}

#pic{
    height: 200px;
    padding: 30px;
    margin-left: 200px;
}

#pic2{
    height: 200px;
    margin-left: 490px;
    padding: 30px;

}

body{
    background: black;
    color: gold;
}